.text-blue {
  color: blue;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.closebutton{
    border-radius: 50%;
    min-width: 35px;
    padding: 0;
    font-weight: 600;
    margin: 0;
    height: 35px;
}