.mt-10{
        margin-top: -10px;
}

.status{
    display: flex;
    align-items: center;
}

.closebutton{
    border-radius: 50%;
    min-width: 35px;
    padding: 0;
    font-weight: 600;
    margin: 0;
    height: 35px;
}