.error-color {
    color: red;
}

.error-message {
    position: absolute;
    left: 0;
}

.m-b-5 {
    margin-bottom: 5px;
}

.row {
  .size-width, .button-width,
  .date-picker-width,.product-select-width, .purchase-price-width, .shell-price-width, .description-width {
    flex: 0 0 auto;
    width: auto;
  }

      @media (max-width: 1330px) and (min-width: 501px) {
        .size-width, .button-width,
        .date-picker-width,.product-select-width, .purchase-price-width, .shell-price-width, .description-width {
          flex: 1 1 48%;
          max-width: 48%;
        }

        button {
          width: 100%;
        }
      }

  @media (max-width: 499px) {
    flex-direction: column;

    .size-width, .button-width,
    .date-picker-width,.product-select-width, .purchase-price-width, .shell-price-width, .description-width {
      flex: 1 1 100%;
      max-width: 100%;
    }

    button {
      width: 100%;
    }
  }
}
