

            <mat-card class="cardWithShadow">
                <mat-card-content class="p-24">
                    <div class="row">
                        <div class="col-lg-2 search-bar">
                            <mat-form-field appearance="outline" class="w-100 hide-hint">
                                <input matInput placeholder="Search Expenses" (keyup)="applyFilter($any($event.target).value)"/>
                                <mat-icon matSuffix>
                                    <i-tabler name="search" class="icon-20"></i-tabler>
                                </mat-icon>
                            </mat-form-field>
                        </div>

                        <!-- <mat-radio-group [value]="'All'" (change)="onFilterChange($event)" aria-label="Account type">
                            <mat-radio-button *ngFor="let item of AccountList" [value]="item">
                                {{ item }}
                            </mat-radio-button>
                        </mat-radio-group> -->
                            <div class="col-lg-1 status-filtera">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Status</mat-label>
                                    <mat-select [value]="'All'" (selectionChange)="onFilterChange($event)">
                                        <mat-option [value]="item" *ngFor="let item of AccountList">{{item}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-1 status-filter">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Status</mat-label>
                                    <mat-select (selectionChange)="onFilterChangestatus($event)">
                                        <mat-option [value]="item" *ngFor="let item of StatusList">{{item}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-2 select-date-range">
                                <mat-form-field appearance="outline" class="w-100  hide-hint">
                                    <mat-label>Select Invoice Date</mat-label>
                                    <mat-date-range-input [rangePicker]="picker" [formGroup]="dateIncomeListForm">
                                        <input matStartDate placeholder="Start date" formControlName="start">
                                        <input matEndDate placeholder="End date" formControlName="end">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker (closed)="filterDate()"></mat-date-range-picker>
                                </mat-form-field>
                            </div>

                        <div class="col-lg-3 f-s-12 f-w-900">
                            <div class="row text-align">
                                <div class="col-lg-6 expense">
                                    <div [ngStyle]="{'color':totalByAccountType.Expense  === 'Expense' ? 'green' : 'red'}">
                                        <strong>Expense:</strong> ₹  {{ totalByAccountType.Expense || 0 }}
                                    </div>
                                </div>
                                <div class="col-lg-6 income">
                                    <div class="m-l-17" [ngStyle]="{'color':totalByAccountType.Income  === 'Income' ? 'red' : 'green'}">
                                        <strong>Income:</strong> ₹  {{ totalByAccountType.Income || 0 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                            <div class="col-lg-3 d-flex align-items-center ">
                                <button (click)="filedownload()" mat-flat-button color="primary">
                                    <i-tabler name="file-download" class="icon-25"></i-tabler>
                                </button>
                                <button mat-flat-button color="primary" (click)="addBalance()">
                                      <!-- <i-tabler name="file-download" class="icon-25"></i-tabler> -->
                                       <img src="../../../../assets/images/logos/image.png" alt="balance" class="icon-25"/>
                                    </button>
                                <button mat-flat-button color="primary" (click)="addexpenses('Add', {})">
                                    Add </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="cardWithShadow" *ngIf="!isMobile; else mobileView">
                <mat-card-content class="p-24">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="expensesDataSource" class="w-100">
            
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef class="f-s-13 p-l-0 f-w-600 m-w-70">Date</th>
                                <td mat-cell *matCellDef="let element;let i = index" class="f-s-12">{{element.date.toDate() | date:'dd/MM/yyyy'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="billNo">
                                <th mat-header-cell *matHeaderCellDef class="f-s-13 p-l-0 f-w-600 m-w-70">Bill No</th>
                                <td mat-cell *matCellDef="let element" class="f-s-12">{{element.billno}}</td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef class="f-s-13 p-l-0 f-w-600 m-w-70">Amount</th>
                                <td mat-cell *matCellDef="let element" class="f-s-12" [ngStyle]="{'color': element.accounttype === 'Expense' ? 'red' : 'green'}">{{element.amount}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef="notes">
                                <th mat-header-cell *matHeaderCellDef class="f-s-13 p-l-0 f-w-600 m-w-70">Notes</th>
                                <td mat-cell *matCellDef="let element;let i = index" class="f-s-12">{{element.notes}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef="accounttype">
                                <th mat-header-cell *matHeaderCellDef class="f-s-13 p-l-0 f-w-600 m-w-70">Account Type</th>
                                <td mat-cell *matCellDef="let element;let i = index" class="f-s-12" [ngStyle]="{'color': element.accounttype === 'Expense' ? 'red' : 'green'}">{{element.accounttype}}</td>
                            </ng-container>

                            <ng-container matColumnDef="statustype">
                                <th mat-header-cell *matHeaderCellDef class="f-s-13 p-l-0 f-w-600 m-w-70">Status Type</th>
                                <td mat-cell *matCellDef="let element;let i = index" class="f-s-12" >{{element.status}}</td>
                            </ng-container>
            
                            <ng-container matColumnDef="paymenttype">
                                <th mat-header-cell *matHeaderCellDef class="f-s-13 p-l-0 f-w-600 m-w-70">Payment Type</th>
                                <td mat-cell *matCellDef="let element;let i = index" class="f-s-12">
                                    <ng-container *ngIf="element.paymenttype === 'Cash'">
                                        {{element.paymenttype}}
                                    </ng-container>
                                    <ng-container *ngIf="element.paymenttype !== 'Cash'">
                                        {{element.paymenttype + " ( "+ getBankNameById(element.bank) +" )"}}
                                    </ng-container>
                                </td>
                            </ng-container>

                              <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                                    {{'FirmMaster.Action' | translate}}
                                </th>
                                <td mat-cell *matCellDef="let element" class="action-link">
                                    <a class="m-r-10 cursor-pointer"><i-tabler name="edit" (click)="addexpenses('Edit', element)"
                                        class="icon-18"></i-tabler></a>
                                    <a class="m-r-10 cursor-pointer">
                                    <i-tabler name="trash" (click)="addexpenses('Delete', element)" class="icon-18"></i-tabler>
                                    </a>
                                </td>
                                </ng-container>
            
                            <tr mat-header-row *matHeaderRowDef="expensesdisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: expensesdisplayedColumns"></tr>
                            <tr class="mat-row" style="text-align: center;" *matNoDataRow>
                                <td class="mat-cell" [attr.colspan]="expensesdisplayedColumns.length">
                                    No record found
                                </td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>

             <ng-template #mobileView>
            <div *ngFor="let item of expensesDataSource.data" class="mb-3">
                <mat-card class="cardWithShadow">
                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-12 mb-2">
                                <div class="row">
                                    <div class="col-5 col-sm-5 col-xs-5 mb-2">
                                        <div class="f-s-12 f-w-600">Date :</div>
                                    </div>
                                    <div class="col-7 col-sm-7 col-xs-7 mb-2">
                                        <div class="f-s-12">{{item.date.toDate() | date:'dd/MM/yyyy'}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-12 mb-2">
                                <div class="row">
                                    <div class="col-5 col-sm-5 col-xs-5 mb-2">
                                        <div class="f-s-12 f-w-600">Bill No :</div>
                                    </div>
                                    <div class="col-7 col-sm-7 col-xs-7 mb-2">
                                        <div class="f-s-12">{{item.billno}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-12 mb-2">
                                <div class="row">
                                    <div class="col-5 col-sm-5 col-xs-5 mb-2">
                                        <div class="f-s-12 f-w-600">Amount :</div>
                                    </div>
                                    <div class="col-7 col-sm-7 col-xs-7 mb-2">
                                        <div class="f-s-12" [ngStyle]="{'color': item.amount === 'Expense' ? 'red' : 'green'}">{{item.amount}}</div>
                                    </div>
                                </div>
                        
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-12 mb-2">
                                <div class="row">
                                    <div class="col-5 col-sm-5 col-xs-5 mb-2">
                                        <div class="f-s-12 f-w-600">Notes :</div>
                                    </div>
                                    <div class="col-7 col-sm-7 col-xs-7 mb-2">
                                        <div class="f-s-12">{{item.notes}}</div>
                                    </div>
                                </div>
                        
                            </div>
                        </div>
                        
                          <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-12 mb-2">
                                <div class="row">
                                    <div class="col-5 col-sm-5 col-xs-5 mb-2">
                                        <div class="f-s-12 f-w-600">Account Type :</div>
                                    </div>
                                    <div class="col-7 col-sm-7 col-xs-7 mb-2">
                                        <div class="f-s-12" [ngStyle]="{'color': item.accounttype === 'Expense' ? 'red' : 'green'}">{{item.accounttype}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-12 mb-2">
                                <div class="row">
                                    <div class="col-5 col-sm-5 col-xs-5 mb-2">
                                        <div class="f-s-12 f-w-600">Status Type :</div>
                                    </div>
                                    <div class="col-7 col-sm-7 col-xs-7 mb-2">
                                        <div class="f-s-12">{{item.status}}</div>
                                    </div>
                                </div>
                            </div>
                          </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-12 mb-2">
                                <div class="row">
                                    <div class="col-5 col-sm-5 col-xs-5 mb-2">
                                        <div class="f-s-12 f-w-600">paymenttype :</div>
                                    </div>
                                     <div class="col-7 col-sm-7 col-xs-7 mb-2">
                                        <div class="f-s-12">{{item.paymenttype + " ( "+ getBankNameById(item.bank) +" )"}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </mat-card-content>
                </mat-card>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
        </ng-template>
    