<h2 mat-dialog-title class="m-b-24 b-b-1 p-b-20">{{'actions.' + action | translate}} <ng-container *ngIf="!local_data.isPurchase">Investment</ng-container></h2>
<mat-dialog-content class="mat-typography" style="max-width: 600px" *ngIf="action !== 'Delete'; else elseTemplate" >
  <form [formGroup]="investmentForm">
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100 m-t-8">
            <mat-select value="no" formControlName="name" placeholder="Name">
                <mat-option [value]="item.id" *ngFor="let item of partnersList">{{item.firstName + ' '+ item.lastName}}</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100 m-t-10">
          <input type="number" matInput required formControlName="amount" placeholder="Amount" />
        </mat-form-field>
      </div>
      <div class="col-lg-6  mt-10">
          <mat-radio-group formControlName="paymenttype" class="d-block" required>
              <mat-radio-button *ngFor="let item of paymenttype" [value]="item" >
                  {{ item }}
              </mat-radio-button>
          </mat-radio-group>
      </div>
      
      <div class="col-lg-6" *ngIf="investmentForm.controls['paymenttype'].value === 'G-Pay'">
          <mat-form-field appearance="outline" class="w-100 m-t-8">
              <mat-label>Bank</mat-label>
              <mat-select value="text" formControlName="bank" placeholder="Bank">
                  <mat-option [value]="item.id" *ngFor="let item of selectedBankDetails"> {{ item.bankName }} - {{ item.accountHolderName }}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100 m-t-10">
          <input type="text" matInput required formControlName="note" placeholder="Note" />        
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100 m-t-8">
            <input matInput [matDatepicker]="picker" formControlName="date" required />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-actions class="p-24 justify-content-end">
      <button mat-stroked-button color="warn" mat-dialog-close>{{'productMasterdialog.Cancel' | translate}}</button>
      <button mat-flat-button [mat-dialog-close]="true" [disabled]="!investmentForm.valid" color="primary" (click)="doAction();">
        {{'actions.' + action | translate}}
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
<ng-template #elseTemplate>
  <div class="p-x-24">
    <p>{{'productMasterdialog.Suretodelete' | translate}}<span class="f-w-600">{{local_data.Name}}</span> ?</p>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions class="p-x-24 p-b-24 m-t-10 justify-content-end">
    <button mat-button (click)="doAction(local_data)" mat-flat-button color="warn">
      {{'actions.' + action | translate}}
    </button>
    <button mat-stroked-button color="warn" (click)="closeDialog()" class="m-l-8">{{'productMasterdialog.Cancel' | translate}}</button>
  </div>
</ng-template>