.picker {
  font-size: 12px;
  max-width: 200px;
}

.m-w-70 {
  min-width: 70px;
}

.m-w-100 {
  min-width: 100px;
}

.color-blue {
  color: blue;
}

.status-display {
  cursor: pointer;
  padding: 8px;
}

.status-select {
  width: 100%;
}

.color-red {
  color: red;
}


.status-booked {
  color: #004085;
}

.status-in-progress {
  color: #ffc316;
}

.status-completed {
  color: #2fb64f;
}

.search {
  width: 90%;
  padding: 4px;
  border: none;
  outline: none;
  background-color: #efefef;
  margin: 0px auto;
  padding: 10px;
  font-size: 12px;
  margin-left: 13px;
  margin-bottom: 13px;
}