.picker {
      font-size: 12px;
  max-width: 200px;
}

.m-w-70{
  min-width: 70px;
}

.m-w-100{
  min-width: 100px;
}

.color-blue{
      color: blue;
}

.status-display {
  cursor: pointer;
  padding: 8px;
}

.status-select {
  width: 100%;
}
