name: Deploy to Firebase Hosting on merge
'on':
  push:
    branches:
      - dev
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - run: npm install -g @angular/cli        # Install Angular CLI globally
      - run: npm run deploy:dev                 # This handles build + deploy

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_STOCK_MANAGEMENT_SYSTEM_4055B }}
          channelId: live
          projectId: stock-management-system-405b
