name: Deploy to Firebase Hosting on merge

'on':
  push:
    branches:
      - dev

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install --force

      - name: Install Angular CLI globally
        run: npm install -g @angular/cli

      - name: Deploy using custom script
        run: npm run deploy:dev
